<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test">
<parameter name="appURL" value="https://www.amazon.in/"/>
<parameter name="browserType" value="firefox"/>

<listeners>
       <listener class-name="com.tt.util.TestListeners"/>
  </listeners>


  <test name="Login test">
    <classes>
      <class name="com.tt.testMethod.testHome"/>
      <class name="com.tt.testMethod.testLogin"/>
    </classes>
  </test>
</suite>